---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const mixtapes = await getCollection('mixtapes');
---

<Layout title="Welcome to Astro.">
	<main>
		<section role="list" class="card-grid">
			{mixtapes.map((mix) => (
				<>
					<Card
						href={mix.data.href}
						title={mix.data.title}
						genre={mix.data.genre}
						id={mix.data.id}
						cover={mix.data.cover}
						alt={mix.data.alt}
					/>	
				</>
			))}
		</section>
	</main>
</Layout>

<style>
	main {
		margin: 64px auto;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.card-grid {
		display: grid;
		grid-template-columns: repeat(4,minmax(0, 1fr));
		column-gap: 24px;
		row-gap: 40px;
	}

</style>
