---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const fetchedMixtapes = await getCollection('mixtapes');
const mixtapes = fetchedMixtapes.sort((a, b) => b.data.date - a.data.date);
---

<Layout title="Reel42">
  <main>
    <section role="list" class="card-grid">
      {
        mixtapes.map((mix) => (
          <>
            <Card
              href={mix.data.href.spotify}
              title={mix.data.title}
              genre={mix.data.genre}
              displayID={mix.data.displayID}
              cover={mix.data.cover}
              alt={mix.data.alt}
              id={mix.id}
            />
          </>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    margin: 64px auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 40px;
  }

  /* Small desktop (3 columns) */
  @media (max-width: 1200px) {
    .card-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  /* Tablet (2 columns) */
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  /* Mobile (1 column) */
  @media (max-width: 480px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
