---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
	title: string;
	id: string;
	href: string;
	genre: string[];
	cover: ImageMetadata
	alt: string
}

const { title, id, href, genre, cover, alt } = Astro.props;
---

<div class="playlist">
	<a href={href} target="_blank">
		<h2>
			{title}
		</h2>
		<div class="playlist-info">
			<h3>{genre}</h3>
			<h3>{id}</h3>
		</div>
		<div class="cover-art">
			<Image src={cover} alt={alt} />
		</div>
	</a>
</div>
<style>
	.playlist {
		border-top: 1px solid #D9D9D9;
	}
	.cover-art {
		background: #F5F5F5;
		padding: 24px;
	}
	.cover-art img {
		width: 100%;
		height: auto;
	}
</style>
