---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  id: string;
  displayID: string;
  href: string;
  genre: string[];
  cover: {
    default: ImageMetadata;
    retro: ImageMetadata;
  };
  alt: string;
  loading?: 'lazy' | 'eager';
}

const {
  title,
  id,
  displayID,
  genre,
  cover,
  alt,
  loading = 'lazy',
} = Astro.props;

const formatGenres = (genres: string[]): string => genres.join(', ');
---

<div class="card-item">
  <a href={`/mixtape/${id}`} data-astro-prefetch>
    <h2 class="card-title">
      {title}
    </h2>
    <div class="card-details">
      <h3>{formatGenres(genre)}</h3>
      <h3 class="card-id">{displayID}</h3>
    </div>
    <div class="cover-art">
      <div class="cover-frame">
        <Image src={cover.default} alt={alt} class="cover" loading={loading} />
      </div>
    </div>
  </a>
</div>

<style>
  .card-item {
    border-top: 1px solid var(--card-accent);
  }
  a {
    text-decoration: none;
    color: transparent;
  }
  .card-title {
    color: var(--primary-text);
    font-size: 22px;
    margin-bottom: 6px;
    margin-top: 12px;
  }
  .card-details {
    color: var(--secondary-text);
    display: flex;
    justify-content: space-between;
    margin: 6px auto 12px;
  }
  .card-details h3 {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
  }
  .card-id {
    color: var(--accent-text);
    font-family: 'Space Mono', monospace;
  }
  .cover-frame {
    position: relative;
    background: var(--secondary-text);
    display: flex;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
  }
  .cover-art {
    background: var(--card-bg);
    padding: 24px;
  }
  .cover,
  .retro-cover {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    color: transparent;
  }
  .retro-cover {
    display: none;
  }

  /* Mobile */
  @media (max-width: 480px) {
    .card-details {
      flex-direction: column-reverse;
    }
  }
</style>
