---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Spotify from '../../icons/spotify.svg?raw'

export async function getStaticPaths() {
  const mixtapes = await getCollection('mixtapes');
  return mixtapes.map(mixtape => ({
    params: { slug: mixtape.slug }, props: { mixtape },
  }));
}
const { mixtape } = Astro.props;
const { Content } = await mixtape.render();
const { title, cover, alt, genre, id, href} = mixtape.data
---

<Layout title={`Reel42 | ${title}`}`>
  <main class="mixtape-container">
    <section class="mixtape-cover">
      <Image src={cover} alt={alt} class="cover-image" />
    </section>
    <section class="mixtape-details">
      <a href="/" class="back-link">back</a>
      <h1>{title}</h1>
      <div class="mixtape-info">
        <h3 class="mixtape-id">{id}</h3>
        <h3>{genre.join(', ')}</h3>
      </div>
      <div class="md-content">
        <Content />
        <p>Listen</p>
        <a href={href.spotify}>
          <Fragment set:html={Spotify} />
        </a>
      </div>
    </section>
  </main>
</Layout>


<style>
  .mixtape-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 0 auto;
    padding: 64px;
  }
  .mixtape-cover {
    background: var(--card-bg);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cover-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .back-link {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: 400;
  }
  .mixtape-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    font-size: 14px;
    color: var(--primary-text);
  }
  h1 {
    font-size: 18px;
    margin: 36px 0 6px 0;
    color: var(--primary-text);
  }
  .mixtape-info {
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 12px;
  }
  .mixtape-info h3 {
    margin: 0;
  }
  .mixtape-id {
    color: var(--accent-text);
  	font-family: 'Space Mono', monospace;
  }
  .md-content ul {
    margin-top: 0;
    padding-left: 0;
  }
  a {
    fill: var(--primary-text);
  }

  @media (max-width: 768px) {
    .mixtape-container {
      grid-template-columns: 1fr;
    }
    .mixtape-details,
    .mixtape-cover {
      text-align: center;
    }
  }
</style>
