---
import { getEntry, getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { findIndex, buildDisplayId } from '../../utils/displayId';

const { id } = Astro.params;

if (id === undefined) {
  return Astro.redirect('/404');
}
const mixtape = await getEntry('mixtapes', id);

if (mixtape === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await render(mixtape);

const entryIndex = await findIndex(id);

const { title, cover, genre, href, date } = mixtape.data;
---

<Layout title={`Reel42 | ${title}`} `>
  <main class="mixtape-container">
    <section class="mixtape-cover">
      <Image
        src={cover.default}
        alt={title}
        class="cover-image"
        loading="eager"
      />
    </section>
    <section class="mixtape-details">
      <a href="/" class="back-link">back</a>
      <h1>{title}</h1>
      <div>
        <h3 class="mixtape-id">{buildDisplayId(date, title, entryIndex)}</h3>
        <h3 class="mixtape-info">{genre.join(', ')}</h3>
      </div>
      <div class="md-content">
        <Content />
      </div>
      <div>
        <a href={href.spotify} class="listen-btn" target="_blank"
          >Listen on Spotify
        </a>
      </div>
    </section>
  </main>
</Layout>

<style>
  .mixtape-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin: 0 auto;
    padding: 64px;
    align-items: start;
  }
  .mixtape-cover {
    background: var(--card-bg);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cover-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mixtape-details {
    display: grid;
    gap: 24px;
    height: auto;
  }

  .back-link {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 13px;
    font-weight: 400;
  }
  h1 {
    font-size: 64px;
    color: var(--header-text);
    margin: 0;
    line-height: 64px;
  }

  .mixtape-info {
    margin: 0;
    color: var(--secondary-text);
    font-weight: 300;
    font-size: 16px;
  }
  .mixtape-id {
    margin: 0;
    color: var(--accent-text);
    font-family: 'Share Tech Mono', monospace;
    font-weight: 300;
    font-size: 12px;
  }

  .md-content {
    font-size: 16px;
    color: var(--primary-text);
    font-weight: 400;
  }
  ul {
    margin-top: 0;
    padding-left: 0;
  }

  .listen-btn {
    display: inline-block;
    padding: 24px;
    border: 1px solid var(--primary-btn);
    color: var(--primary-btn);
    text-decoration: none;
    width: auto;
  }
  .listen-btn:hover {
    background: var(--primary-btn);
    color: var(--bg);
  }

  @media (max-width: 811px) {
    .mixtape-container {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
  }
</style>
